$_base-font-size-px: 16px !default;
$_half-leading: .4 !default;

@import '../../node_modules/sass-basis/src/css/basis-core';

.l-heading-widget-area {
  height: auto;
  visibility: visible;
  overflow: hidden;

  &[aria-hidden="true"] {
    margin: 0 !important;
    height: 0 !important;
    visibility: hidden !important;
  }

  > * + * {
    @include _margin-top(1.5);
  }
}
