.l-heading-widget-area {
  height: auto;
  visibility: visible;
  overflow: hidden;

  &[aria-hidden="true"] {
    margin: 0 !important;
    height: 0 !important;
    visibility: hidden !important;
  }

  > * + * {
    margin-top: 2.33696rem;
  }
}
